langchain==0.2.16
llama-cpp-python==0.2.90
google-generativeai==0.7.2
langchain_google_genai==1.0.10
faiss-cpu==1.8.0.post1
pandas==2.2.2
PyPDF2==3.0.1
python-docx==1.1.2
python-dotenv==1.0.1
opencv-python==4.10.0.84
mediapipe==0.10.14
nltk==3.9.1
pycaw==20240210
PyQt5==5.15.11
langchain-community==0.2.16